/* General Setting */
.cta-button {
  margin-top: auto; /* Drückt den Button nach unten */
  align-self: flex-end; /* Positioniert den Button nach rechts */
  background-color: transparent;
  padding: 0; /* Kein Padding innerhalb des Buttons */
  margin: 0; /* Kein zusätzlicher Abstand */
  position: relative; /* Sicherstellen, dass keine absolute Positionierung verwendet wird */
}


.cta-button:hover {
  transform: scale(1.1);
}

.cta-button svg {
  position: relative;
  z-index: 100; /* Stellt sicher, dass SVGs korrekt dargestellt werden */
}

.cls-1 {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Hover effect for the SVG */
.cta-button:hover .cls-1 {
  fill: #000000; /* Füllfarbe beim Hover */
  stroke: #ffffff;
}

.cls-2 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 0.925px;
  position: relative;
  z-index: 10;
}

/* Hover effect for the small circles */
.cta-button:hover .cls-2 {
  fill: #ffffff;
  stroke: #ffffff;
}

.cta-text {
  font-family: 'RedHat', sans-serif;
  font-size: 18px;
  fill: #fff;
  text-anchor: middle;
}

.cta-text:hover {
  fill: #ffffff;
}



 /* Responsive css start */


 /* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .cta-button {
      width: auto; /* Sicherstellen, dass die Breite anpassbar bleibt */
      padding: 8px 16px; /* Leicht reduzierte Padding-Werte */
      bottom: 8px; /* Abstand an kleinere Screens anpassen */
      right: 8px;
  }
}

@media screen and (max-width: 480px) {
  .cta-button {
      font-size: 0.875rem; /* Kleinere Schriftgröße */
      padding: 6px 12px; /* Kleinere Padding-Werte */
      bottom: 5px; /* Abstand weiter anpassen */
      right: 5px;
  }

  .cta-button svg {
      width: 80%; /* SVGs skalieren bei kleineren Geräten */
      height: auto; /* Seitenverhältnis beibehalten */
  }
}
