.infinite-carousel-container {
  overflow: hidden;
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  padding: 1rem 0;
}

.infinite-carousel-track {
  display: flex;
  will-change: transform;
  cursor: grab;
}

.infinite-carousel-track:active {
  cursor: grabbing;
}

.infinite-carousel-slide {
  flex: 0 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.infinite-carousel-image {
  max-width: 100px;
  height: auto;
  /*filter: grayscale(100%);*/
  transition: filter 0.3s ease;
  pointer-events: none;
}
.infinite-carousel-image:hover {
  filter: grayscale(0%);
}