/*------------------------------------------------------------*/
/* Dark Mode CSS Start                                       */
/*-----------------------------------------------------------*/

/* Dark Mode Toggle Styles */
.dark-mode-toggle {
  cursor: pointer; /* Standard-Cursor */
  font-family: "RedHat", sans-serif; /* Einheitliche Schriftart */
  position: fixed;
  right: 125px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform: translateY(-50%);
  z-index: 999;
  top: 6px;
}

.darkmode-toggle button {
  background-color: #000000; /* Schwarzer Hintergrund */
  color: #ffffff; /* Weiße Schrift */
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  font-family: "RedHat", sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Übergangseffekte für Hover */
}

.darkmode-toggle button:hover {
  background-color: #ff0000; /* Weißer Hintergrund bei Hover */
  color: #000000; /* Schwarze Schrift bei Hover */
}

.darkmode-toggle button:active {
  background-color: #ffffff; /* Weißer Hintergrund bei Aktivierung */
  color: #000000; /* Schwarze Schrift bei Aktivierung */
}

/* Media Queries für unterschiedliche Bildschirmgrößen */
@media screen and (max-width: 991px) {
  .dark-mode-toggle {
    font-size: 24px;
    right: 119px;
  }
}

@media screen and (max-width: 771px) {
  .dark-mode-toggle {
    font-size: 25px;
    right: 103px;
    top: 3px;
  }
}

.lottie-container {
  position: absolute;
  top: 10px; /* Abstand von oben */
  right: 10px; /* Abstand von rechts */
  z-index: 9999;
  width: 40px; /* Feste Größe der Lottie-Animation */
  height: 40px; /* Feste Größe der Lottie-Animation */
  display: flex;
  justify-content: center;
  align-items: center;
}

#lottieLight, #lottieDark {
  width: 30px; /* Setze eine feste Breite */
  height: 30px; /* Setze eine feste Höhe */
  transition: opacity 0.3s ease;
}

.lottie-light {
  display: block;
}

.lottie-dark {
  display: none;
}

@media screen and (max-width: 771px) {
  #lottieLight {
    width: 36px;
    height: 48px;
  }

  #lottieDark {
    width: 28px;
    height: 48px;
  }
}

@media screen and (max-width: 991px) {
  #lottieLight, #lottieDark {
    width: 37px;
    height: 54px;
  }
}

/*------------------------------------------------------------*/
/* Dark Mode und Light Mode Schriftarten und Layout-Änderungen */
/*------------------------------------------------------------*/


