.cursor {
  position: fixed;
  background-color: #ffffff;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    z-index: 9999;
    transition: transform 0.1s ease, opacity 0.1s ease;
    user-select: none;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
  
  .dark-mode .cursor {
    background-color: #fff;
  }
  
  .cursor.active {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(2);
  }
  
  @media (hover: none) or (pointer: coarse) {
      .cursor, .cursor-follower {
        display: none;
      }
    }
    
  .cursor.hovered {
    opacity: 0.08;
  }
  
  .cursor-follower {
    position: fixed;
    border: 2px solid rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 10000;
    transition: transform 0.1s ease, opacity 0.1s ease, width 0.1s ease, height 0.1s ease;
    user-select: none;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
  
  .dark-mode .cursor-follower {
    border: 2px solid rgba(255, 255, 255, 0.8);
  }
  
  .cursor-follower.active {
    opacity: 0.7;
    transform: translate(-50%, -50%) scale(1.5);
  }
  
  .cursor-follower.hovered {
    opacity: 0.08;
  }
  