/* -------------------- Root Variablen -------------------- */
:root {
  --galaxy: url("/assets/img/holographic_foil/galaxy.jpg");
  --trainerbg: url("/assets/img/holographic_foil/151/birthday-holo-dank.webp");
  --Vmaxbg: url("/assets/img/holographic_foil/vmaxbg.jpg");
  --Vstar: url("/assets/img/holographic_foil/151/noise-top.webp");
  --rainbow: url("/assets/img/holographic_foil/rainbow.jpg");
  --illusion: url("/assets/img/holographic_foil/galaxy-source.png");
  --glitter: url("/assets/img/holographic_foil/glitter.png");
  --metal: url("/assets/assets/img/holographic_foil/holographic_foil/metal.png");
  --illusion2: url("/assets/img/holographic_foil/illusion2.png");
  --sparkles: url("/assets/img/holographic_foil/sparkles.gif");
  --yugioh1: url("/assets/img/holographic_foil/cardyugioh.png");
  --yugioh2: url("/assets/img/holographic_foil/yugioh1.gif");
  --gold1: url("/assets/img/holographic_foil/gold1.gif");
  --gold2: url("/assets/img/holographic_foil/gold2.gif");
}

/* -------------------- Card Grundstil -------------------- */
.card {
  --mx: 50%;
  --my: 50%;
  --s: 1;
  --o: 1;
  --pos: 50% 50%;
  --posx: 50%;
  --posy: 50%;
  --hyp: 0;
  --galaxybg: center 740px;
  perspective: 1000px; /* Perspektive hinzufügen für 3D-Effekte */
}

/* -------------------- Media Query für Mobile -------------------- */
@media (max-width: 768px) {
  .card {
    transform: none; /* Tilt-Effekt für mobile Geräte deaktivieren */
  }
}
/* -------------------- Holographische Karte -------------------- */
.holographic * {
  width: 100%;
  display: grid;
  grid-area: 1 / 1;
  border-radius: var(--radius);
  image-rendering: optimizeQuality;
  appearance: none;
  border: none;
  padding: 0;
}

/* -------------------- Holographische Karte: Rand und Effekte -------------------- */
.card.holographic {
  z-index: calc(var(--s) * 100);
  transform: translateZ(0.1px);
  will-change: transform, visibility, opacity;
  position: relative;
  overflow: hidden;
  cursor: crosshair;
  height: 100%;
  width: 100%;
  border-radius: 14px;
  transition: z-index 0.3s ease, transform 0.3s ease;
}

/* Karte, wenn sie in Interaktion ist */
.card.holographic.interacting {
  z-index: calc(var(--s) * 120);
}

/* -------------------- Holographische Karte: Inhalte -------------------- */
.holographic__section {
  transform: none;
}





/* -------------------- Card: Effekte und Bilder -------------------- */
.card__effects,
.card_images {
  cursor: crosshair;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  min-height: 550px;
  min-height: 550px;
  max-width: 550px;
  max-height: 550px;
  object-position: center;
}






/* Handy View */
@media (max-width: 480px) {
  .card__effects,
  .card_images {
    min-height: 212px; /* Höhe für mobile Geräte */
  }
}

/* -------------------- Hover Text Block -------------------- */
.project-hover-block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: 'AvantGarde', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 14px;
  padding-bottom: 24px;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 2;
}

/* -------------------- Hover Hintergrund Effekt -------------------- */
.project-hover-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: -1; /* Sicherstellen, dass der Effekt hinter dem Text ist */
}

/* -------------------- Hover Effekte: Anzeigen von Text und Hintergrund -------------------- */
.holographic__section:hover .project-hover-block,
.holographic__section:focus .project-hover-block {
  opacity: 1;
  transform: scale(1);
}

.holographic__section:hover .project-hover-block::before,
.holographic__section:focus .project-hover-block::before {
  opacity: 1;
}

/* -------------------- Fokus-Outline für Zugänglichkeit -------------------- */
.holographic__section:focus {
  outline: 2px dashed #fff; /* Fokus-Outline für bessere Zugänglichkeit */
  outline-offset: 4px;
}

/* -------------------- Card Schimmer Effekte -------------------- */
.card__shine {
  --grain: url("/assets/img/holographic_foil/grain.webp");
  --space: 6%;
  --angle: 133deg;
  --imgsize: 500px;
  --red: #f80e7b;
  --yel: #eedf10;
  --gre: #21e985;
  --blu: #0dbde9;
  --vio: #c929f1;
}

/* -------------------- Stil der Holografischen Karte -------------------- */
.card[data-rarity="rare holo"][data-gallery="true"] .card__shine {
  --space: 5%;
  --angle: -22deg;
  --imgsize: 200% 400%;
  clip-path: inset(2.8% 4% round 2.55% / 1.5%);
  background-image:
    repeating-linear-gradient(var(--angle),  
      rgba(174, 102, 202, 0.75) calc(var(--space) * 1),
      rgba(228, 77, 72, 0.75) calc(var(--space) * 2),
      rgba(216, 197, 55, 0.75) calc(var(--space) * 3),
      rgba(124, 201, 62, 0.75) calc(var(--space) * 4),
      rgba(80, 177, 170, 0.75) calc(var(--space) * 5),
      rgba(136, 160, 255, 0.75) calc(var(--space) * 6),
      rgba(176, 105, 204, 0.75) calc(var(--space) * 7)
    );
  background-blend-mode: color-dodge;
  background-size: var(--imgsize);
  background-position: 0% calc(var(--posy) * 1), var(--posx) var(--posy);
  filter: brightness(calc((var(--hyp) * 0.3) + 0.6)) contrast(2.3) saturate(1.1);
}

/* -------------------- Zusätzlicher Holografischer Schimmer Effekt -------------------- */
.card[data-rarity="rare holo"][data-gallery="true"] .card__shine:after {
  content: "";
  background-image: 
    radial-gradient(
      farthest-corner ellipse 
      at calc(((var(--mx)) * 0.5) + 25%) calc(((var(--my)) * 0.5) + 25%), 
      rgb(255, 255, 255) 5%, 
      rgba(55, 0, 55, .6) 25%, 
      rgb(55, 55, 55) 90% 
    );
  background-position: center;
  background-size: 200% 200%;
  filter: brightness(calc((var(--hyp) * 0.2) + 0.4)) contrast(.85) saturate(1.1);
  mix-blend-mode: hard-light;
}

/* ----------------------------------- */
/* -- FOIL SETTINGS BEGIN HERE ------ */
/* ----------------------------------- */

/* Gemeinsame Übergänge für Effekte */
.card__shine,
.card__glare {
  will-change: transform, opacity, background-image, background-size,
    background-position, background-blend-mode, filter;
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease; /* Vereinheitlichte Übergänge */
}

/* Hover Effekte für Shine und Glare */
.holographic:hover .card__shine,
.holographic:hover .card__glare {
  will-change: transform, visibility, opacity;
}

/* Glare-Effekt */
.card__glare {
  transform: translateZ(1.4px); /* 3D-Effekt */
  background: radial-gradient(
    farthest-corner circle at var(--mx) var(--my),
    rgba(255, 255, 255, 0.8) 10%,
    rgba(255, 255, 255, 0.65) 20%,
    rgba(0, 0, 0, 0.5) 90%
  );
  mix-blend-mode: overlay;
  opacity: var(--o);
}

/* Vmax Glare Variante */
.card__glare.vmax {
  background: radial-gradient(
    farthest-corner circle at var(--mx) var(--my),
    rgba(255, 255, 255, 0.75) 0%,
    rgba(99, 99, 99, 0.35) 45%,
    rgba(0, 0, 0, 1) 120%
  );
}

/* Shine-Effekt */
.card__shine {
  display: grid;
  overflow: hidden;
  z-index: 3;
  transform: translateZ(1px); /* 3D-Ebene */
  background: transparent;
  mix-blend-mode: color-dodge;
  background-size: cover;
  background-position: center;
  opacity: var(--o);
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease; /* Vereinheitlichte Übergänge */
}

/* Shine-Effekt Ebenen */
.card__shine:before {
  grid-area: 1 / 1;
  transform: translateZ(1px); /* Verbesserte Tiefenwirkung */
}

.card__shine:after {
  grid-area: 1 / 1;
  transform: translateZ(1.2px); /* Etwas weiter für den Layering-Effekt */
  border-radius: var(--radius); /* Konsistente Eckenradius */
}

/* ----------------------------------- */
/* -- FOIL SETTINGS END HERE -------- */
/* ----------------------------------- */















/* -------------------- ShineBlitz ------------------------*/
/* ShineBlitz im Normalzustand - unsichtbar, keine Effekte */
.card[data-rarity="ShineBlitz2"] .card__shine,
.card[data-rarity="ShineBlitz"] .card__shine:after {
background-image: none;
filter: none;
background-blend-mode: normal;
}

/* ShineBlitz bei Hover - der Effekt wird sichtbar */
.card[data-rarity="ShineBlitz2"]:hover .card__shine,
.card[data-rarity="ShineBlitz2"]:hover .card__shine:after {
--space: 5%;
--angle: 133deg;
--imgsize: 25% 20%;

background-image:
  var(--sparkles),
  repeating-linear-gradient( 0deg, 
  #a7a7a7 calc(var(--space)*1),  /* Chrome Silber */
  #b0b0b0 calc(var(--space)*2), /* Helleres Silber */
  #c0c0c0 calc(var(--space)*3), /* Chrome Farbe */
  #d1d1d1 calc(var(--space)*4), 
  #e1e1e1 calc(var(--space)*5), 
  #f2f2f2 calc(var(--space)*6), 
  #c0c0c0 calc(var(--space)*7) /* Rückkehr zu Chrome Silber */
  ),
  repeating-linear-gradient( 
    var(--angle), 
    #0e152e 0%, 
    hsl(180, 10%, 60%) 3.8%, 
    hsl(180, 29%, 66%) 4.5%, 
    hsl(180, 10%, 60%) 5.2%, 
    #0e152e 10% , 
    #0e152e 12% 
  ),
  radial-gradient(
    farthest-corner circle 
    at var(--mx) var(--my),
    rgba(0, 0, 0, .1) 12%, 
    rgba(0, 0, 0, .15) 20%, 
    rgba(0, 0, 0, .25) 120%
  );

background-blend-mode: difference, hue, hard-light;
background-size: 100% 100%, 200% 700%, 300% 100%, 200% 100%;
background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);

filter: brightness(calc((var(--hyp) * .5) + 0.5)) contrast(1.75) saturate(.75);
}

/* Weiterer Effekt mit Zusatz bei Hover */
.card[data-rarity="ShineBlitz2"]:hover .card__shine:after {
content: "";
background-size: var(--imgsize), 200% 400%, 195% 100%, 200% 100%;
filter: brightness(calc((var(--hyp) * .5) + 0.8)) contrast(1.25) saturate(1.75);
mix-blend-mode: exclusion;
}

/* Glare-Effekt bei Hover */
.card[data-rarity="ShineBlitz2"]:hover .card__glare {
filter: brightness(0.9) contrast(1.5);

background: radial-gradient(
  farthest-corner circle 
  at var(--mx) var(--my),
  rgba(0, 0, 0, .1) 12%, 
  rgba(0, 0, 0, .15) 20%, 
  rgba(0, 0, 0, .25) 120%
);

opacity: calc(var(--o) * .66);
}















































/* -------------------- rare holo ------------------------*/

.card[data-rarity="rare holo"]:not([data-gallery="true"]) .card__glare:after{
  
    content: "";
   /* clip-path: inset(11.5% 8.5% 44.5% 8.5%); */
    inset: -14.97% -6.17% -2.65% -13.62%;
    
    background-image: radial-gradient(
      rgb(60, 60, 60) 100%,
      rgba(0, 0, 0, 0.73) 100%,
      rgba(0, 0, 0) 100%
    );
  }
  
  
  .card[data-rarity="rare holo"] .card__shine {
  
    --space: 1.5%;
    --h: 21;
    --s: 70%;
    --l: 50%;
    --bars: 4%;
    --bar-color: rgba(255, 255, 255, 0.6);
    --bar-bg: rgb(10, 10, 10);
  
    clip-path: inset(-5.34% 0% -5.32% -12.59%);
  
    background-image:
      repeating-linear-gradient( 90deg, 
        hsl(calc(var(--h)*0), var(--s), var(--l)) calc(var(--space)*0), hsl(calc(var(--h)*0), var(--s), var(--l)) calc(var(--space)*1), 
        black calc(var(--space)*1.001), black calc(var(--space)*1.999),
        hsl(calc(var(--h)*1), var(--s), var(--l)) calc(var(--space)*2), hsl(calc(var(--h)*1), var(--s), var(--l)) calc(var(--space)*3), 
        black calc(var(--space)*3.001), black calc(var(--space)*3.999),
        hsl(calc(var(--h)*2), var(--s), var(--l)) calc(var(--space)*4), hsl(calc(var(--h)*2), var(--s), var(--l)) calc(var(--space)*5), 
        black calc(var(--space)*5.001), black calc(var(--space)*5.999),
        hsl(calc(var(--h)*3), var(--s), var(--l)) calc(var(--space)*6), hsl(calc(var(--h)*3), var(--s), var(--l)) calc(var(--space)*7), 
        black calc(var(--space)*7.001), black calc(var(--space)*7.999),
        hsl(calc(var(--h)*4), var(--s), var(--l)) calc(var(--space)*8), hsl(calc(var(--h)*4), var(--s), var(--l)) calc(var(--space)*9), 
        black calc(var(--space)*9.001), black calc(var(--space)*9.999),
        hsl(calc(var(--h)*5), var(--s), var(--l)) calc(var(--space)*10), hsl(calc(var(--h)*5), var(--s), var(--l)) calc(var(--space)*11), 
        black calc(var(--space)*11.001), black calc(var(--space)*11.999),
        hsl(calc(var(--h)*6), var(--s), var(--l)) calc(var(--space)*12), hsl(calc(var(--h)*6), var(--s), var(--l)) calc(var(--space)*13), 
        black calc(var(--space)*13.001), black calc(var(--space)*13.999),
        hsl(calc(var(--h)*7), var(--s), var(--l)) calc(var(--space)*14), hsl(calc(var(--h)*7), var(--s), var(--l)) calc(var(--space)*15), 
        black calc(var(--space)*15.001), black calc(var(--space)*15.999),
        hsl(calc(var(--h)*8), var(--s), var(--l)) calc(var(--space)*16), hsl(calc(var(--h)*8), var(--s), var(--l)) calc(var(--space)*17), 
        black calc(var(--space)*17.001), black calc(var(--space)*17.999),
        hsl(calc(var(--h)*9), var(--s), var(--l)) calc(var(--space)*18), hsl(calc(var(--h)*9), var(--s), var(--l)) calc(var(--space)*19), 
        black calc(var(--space)*19.001), black calc(var(--space)*19.999),
        hsl(calc(var(--h)*10), var(--s), var(--l)) calc(var(--space)*20), hsl(calc(var(--h)*10), var(--s), var(--l)) calc(var(--space)*21), 
        black calc(var(--space)*21.001), black calc(var(--space)*21.999),
        hsl(calc(var(--h)*11), var(--s), var(--l)) calc(var(--space)*22), hsl(calc(var(--h)*11), var(--s), var(--l)) calc(var(--space)*23), 
        black calc(var(--space)*23.001), black calc(var(--space)*23.999),
        hsl(calc(var(--h)*12), var(--s), var(--l)) calc(var(--space)*24), hsl(calc(var(--h)*12), var(--s), var(--l)) calc(var(--space)*25), 
        black calc(var(--space)*25.001), black calc(var(--space)*25.999),
        hsl(calc(var(--h)*13), var(--s), var(--l)) calc(var(--space)*26), hsl(calc(var(--h)*13), var(--s), var(--l)) calc(var(--space)*27), 
        black calc(var(--space)*27.001), black calc(var(--space)*27.999),
        hsl(calc(var(--h)*14), var(--s), var(--l)) calc(var(--space)*28), hsl(calc(var(--h)*14), var(--s), var(--l)) calc(var(--space)*29), 
        black calc(var(--space)*29.001), black calc(var(--space)*29.999),
        hsl(calc(var(--h)*15), var(--s), var(--l)) calc(var(--space)*30), hsl(calc(var(--h)*15), var(--s), var(--l)) calc(var(--space)*31), 
        black calc(var(--space)*31.001), black calc(var(--space)*31.999)
      ),
      repeating-linear-gradient( 90deg, 
        var(--vio), var(--blu), var(--gre), var(--yel), var(--red), var(--vio)
      ),
      repeating-linear-gradient( 90deg, 
        var(--bar-bg) calc(var(--bars)*2), var(--bar-color) calc(var(--bars)*3), var(--bar-bg) calc(var(--bars)*3.5), var(--bar-color) calc(var(--bars)*4), var(--bar-bg) calc(var(--bars)*5), var(--bar-bg) calc(var(--bars)*12)
      ),
      repeating-linear-gradient( 90deg, 
        var(--bar-bg) calc(var(--bars)*2), var(--bar-color) calc(var(--bars)*3), var(--bar-bg) calc(var(--bars)*3.5), var(--bar-color) calc(var(--bars)*4), var(--bar-bg) calc(var(--bars)*5), var(--bar-bg) calc(var(--bars)*9)
      ),
      radial-gradient(
        farthest-corner circle 
          at var(--mx) var(--my), 
          rgba(230, 230, 230, 0.85) 0%, 
          rgba(200, 200, 200, .1) 25%, 
          rgb(0, 0, 0) 90%
        );
  
    background-blend-mode: soft-light, soft-light, screen, overlay;
    background-position: center, calc(((50% - var(--posx)) * 25) + 50%) center, calc(var(--posx)*-1.2) var(--posy), var(--pos), center;
    background-size: 100px 100px, 200% 200%, 237% 237%, 195% 195%, 120% 120%;
  
    filter: brightness(calc((var(--hyp) + 0.7) * 0.7)) contrast(3) saturate(.35);
  }
  
  .card[data-rarity="rare holo"] .card__glare.svelte-y0attf {

    background: radial-gradient(
        farthest-corner circle at var(--mx) var(--my),
        rgba(255, 255, 255, 0.8) 10%, 
        rgba(255, 255, 255, 0.6) 35%, 
        rgba(0, 0, 0, 1) 85%
    );
  }


 
  /* -------------------- rare holo v check ------------------------*/

.card[data-rarity*="rare holo v1"] .card__shine,
.card[data-rarity*="rare holo v1"] .card__shine:after {
background-image: none;
filter: none;
background-blend-mode: normal;
}

/* rare holo v1 bei Hover */
.card[data-rarity*="rare holo v1"]:hover .card__shine,
.card[data-rarity*="rare holo v1"]:hover .card__shine:after {
--space: 5%;
--angle: 133deg;
--imgsize: 500px;

background-image:
  var(--grain),
  repeating-linear-gradient( 0deg, 
    rgb(255, 119, 115) calc(var(--space)*1), 
    rgba(255,237,95,1) calc(var(--space)*2), 
    rgba(168,255,95,1) calc(var(--space)*3), 
    rgba(131,255,247,1) calc(var(--space)*4), 
    rgba(120,148,255,1) calc(var(--space)*5), 
    rgb(216, 117, 255) calc(var(--space)*6), 
    rgb(255, 119, 115) calc(var(--space)*7)
  ),
  repeating-linear-gradient( 
    var(--angle), 
    #0e152e 0%, 
    hsl(180, 10%, 60%) 3.8%, 
    hsl(180, 29%, 66%) 4.5%, 
    hsl(180, 10%, 60%) 5.2%, 
    #0e152e 10% , 
    #0e152e 12% 
  ),
  radial-gradient(
    farthest-corner circle 
    at var(--mx) var(--my),
    rgba(0, 0, 0, .1) 12%, 
    rgba(0, 0, 0, .15) 20%, 
    rgba(0, 0, 0, .25) 120%
  );

background-blend-mode: screen, hue, hard-light;
background-size: var(--imgsize) 100%, 200% 700%, 300% 100%, 200% 100%;
background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);

filter: brightness(.8) contrast(2.95) saturate(.5);
}

.card[data-rarity="rare holo v1"]:hover .card__shine:after {
content: "";
background-size: var(--imgsize) 100%, 200% 400%, 195% 100%, 200% 100%;
filter: brightness(1) contrast(2.5) saturate(1.75);
mix-blend-mode: soft-light;
}

.card[data-rarity="rare holo v1"]:hover .card__glare {
filter: brightness(0.9) contrast(1.75);
background: radial-gradient(
  farthest-corner circle 
  at var(--mx) var(--my),
  rgb(255, 255, 255) 0%,
  rgba(133, 137, 141, .33) 45%, 
  rgba(100, 100, 100, .65) 120%
);
opacity: calc(var(--o) * .66);
}


/* -------------------- rare holo vmax ------------------------*/

.card[data-rarity="rare holo vmax"] .card__shine {
background-image: none;
filter: none;
background-blend-mode: normal;
}

/* rare holo vmax bei Hover */
.card[data-rarity="rare holo vmax"]:hover .card__shine {
--space: 6%;
--angle: 133deg;
--imgsize: 60% 30%;

background-image:
  var(--Vmaxbg),
  repeating-linear-gradient( -33deg, 
    rgb(206, 42, 36) calc(var(--space)*1),  
    rgb(157, 170, 223) calc(var(--space)*2), 
    rgb(45, 153, 146) calc(var(--space)*3), 
    rgb(29, 151, 36) calc(var(--space)*4), 
    rgb(181, 64, 228) calc(var(--space)*5), 
    rgb(206, 42, 36) calc(var(--space)*6)
  ),
  repeating-linear-gradient(
    var(--angle), 
    rgba(14, 21, 46, 0.5) 0%, 
    hsl(180, 10%, 50%) 2.5%, 
    hsl(83, 50%, 35%) 5%, 
    hsl(180, 10%, 50%) 7.5%, 
    rgba(14, 21, 46, 0.5) 10%, 
    rgba(14, 21, 46, 0.5) 15%
  ),
  radial-gradient(
    farthest-corner circle 
    at var(--mx) var(--my),
    rgba(6, 218, 255, 0.6) 0%, 
    rgba(38, 235, 127, 0.6) 25%, 
    rgba(155, 78, 228, 0.6) 50%, 
    rgba(228, 78, 90, 0.6) 75%
  );

background-blend-mode: color-burn, screen, soft-light;
background-size: var(--imgsize), 1100% 1100%, 600% 600%, 200% 200%;
background-position: 
  center, 
  0% var(--posy), 
  var(--posx) var(--posy), 
  var(--posx) var(--posy);

filter: brightness(calc((var(--hyp)*0.3) + 0.5)) contrast(2.5) saturate(.6);
}

.card[data-rarity="rare holo vmax"]:hover .card__glare {
filter: brightness(0.9) contrast(1.75);
background: radial-gradient(
  farthest-corner circle 
  at var(--mx) var(--my),
  rgb(255, 255, 255) 0%,
  rgba(133, 137, 141, .33) 45%, 
  rgba(100, 100, 100, .65) 120%
);
opacity: calc(var(--o) * .66);
}


/* -------------------- rare holo vstar ------------------------*/
 
.card[data-rarity="rare holo vstar"] .card__shine,
.card[data-rarity="rare holo vstar"] .card__shine:after {

  --space: 5%;
  --angle: 133deg;
  --imgsize: 18% 15%;
  
  /* Standard: Kein sichtbarer Effekt beim Laden der Seite */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  background-image:
      var(--sparkles),
      repeating-linear-gradient( 0deg, 
        rgb(255, 119, 115) calc(var(--space)*1), 
        rgba(255,237,95,1) calc(var(--space)*2), 
        rgba(168,255,95,1) calc(var(--space)*3), 
        rgba(131,255,247,1) calc(var(--space)*4), 
        rgba(120,148,255,1) calc(var(--space)*5), 
        rgb(216, 117, 255) calc(var(--space)*6), 
        rgb(255, 119, 115) calc(var(--space)*7)
      ),
      repeating-linear-gradient( 
        var(--angle), 
        #0e152e 0%, 
        hsl(180, 10%, 60%) 3.8%, 
        hsl(180, 29%, 66%) 4.5%, 
        hsl(180, 10%, 60%) 5.2%, 
        #0e152e 10% , 
        #0e152e 12% 
      ),
      radial-gradient(
        farthest-corner circle 
        at var(--mx) var(--my),
        rgba(0, 0, 0, .1) 12%, 
        rgba(0, 0, 0, .15) 20%, 
        rgba(0, 0, 0, .25) 120%
      );
  
  background-blend-mode: soft-light, hue, hard-light;
  background-size: var(--imgsize), 200% 700%, 300% 100%, 200% 100%;
  background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);
  
  filter: brightness(calc((var(--hyp) * .5) + 0.5)) contrast(2) saturate(.75);
}

.card[data-rarity="rare holo vstar"] .card__shine:after {

  content: "";

  /* Standard: Kein sichtbarer Effekt beim Laden der Seite */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  background-size: var(--imgsize), 200% 400%, 195% 100%, 200% 100%;
  filter: brightness(calc((var(--hyp) * .5) + 0.8)) contrast(1.5) saturate(1.75);
  mix-blend-mode: exclusion;
}

.card[data-rarity="rare holo vstar"]:hover .card__shine,
.card[data-rarity="rare holo vstar"]:hover .card__shine:after {

  /* Effekt sichtbar bei Hover */
  opacity: 1;
}

.card[data-rarity="rare holo vstar"] .card__glare {
  
  filter: brightness(0.9) contrast(1.75);
  
  background: radial-gradient(
    farthest-corner circle 
    at var(--mx) var(--my),
    rgb(255, 255, 255) 0%,
    rgba(133, 137, 141, .33) 45%, 
    rgba(100, 100, 100, .65) 120%
  );
  
  opacity: calc(var(--o) * .66);
}


/* --------------------rare ultra  ------------------------*/

.card[data-rarity="rare ultra"] .card__shine,
.card[data-rarity="rare ultra"] .card__shine:after {

  --space: 5%;
  --angle: 133deg;
  --imgsize: 50% 42%;
  
  /* Standard: Kein sichtbarer Effekt beim Laden der Seite */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
  background-image:
      var(--illusion),
      repeating-linear-gradient( 0deg, 
        rgb(255, 119, 115) calc(var(--space)*1), 
        rgba(255,237,95,1) calc(var(--space)*2), 
        rgba(168,255,95,1) calc(var(--space)*3), 
        rgba(131,255,247,1) calc(var(--space)*4), 
        rgba(120,148,255,1) calc(var(--space)*5), 
        rgb(216, 117, 255) calc(var(--space)*6), 
        rgb(255, 119, 115) calc(var(--space)*7)
      ),
      repeating-linear-gradient( 
        var(--angle), 
        #0e152e 0%, 
        hsl(180, 10%, 60%) 3.8%, 
        hsl(180, 29%, 66%) 4.5%, 
        hsl(180, 10%, 60%) 5.2%, 
        #0e152e 10% , 
        #0e152e 12% 
      ),
      radial-gradient(
        farthest-corner circle 
        at var(--mx) var(--my),
        rgba(0, 0, 0, .1) 12%, 
        rgba(0, 0, 0, .15) 20%, 
        rgba(0, 0, 0, .25) 120%
      );
  
  background-blend-mode: exclusion, hue, hard-light;
  background-size: var(--imgsize), 200% 700%, 300% 100%, 200% 100%;
  background-position: center center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);
  
  filter: brightness(calc((var(--hyp)*0.3) + 0.5)) contrast(2) saturate(1.5);
}

.card[data-rarity="rare ultra"] .card__shine:after {

  content: "";

  /* Standard: Kein sichtbarer Effekt beim Laden der Seite */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
  background-size: var(--imgsize), 200% 400%, 195% 100%, 200% 100%;
  filter: brightness(calc((var(--hyp)*0.5) + .8)) contrast(1.6) saturate(1.4);
  mix-blend-mode: exclusion;
}

.card[data-rarity="rare ultra"]:hover .card__shine,
.card[data-rarity="rare ultra"]:hover .card__shine:after {

  /* Effekt sichtbar bei Hover */
  opacity: 1;
}

.card[data-rarity="rare ultra"] .card__glare {
  
  filter: brightness(0.9) contrast(1.75);
  
  background: radial-gradient(
    farthest-corner circle 
    at var(--mx) var(--my),
    rgb(255, 255, 255) 0%,
    rgba(133, 137, 141, .33) 45%, 
    rgba(100, 100, 100, .65) 120%
  );
  
  opacity: calc(var(--o) * .66);
}


/* -------------------- ShineBlitz ------------------------*/
/* ShineBlitz im Normalzustand - unsichtbar, keine Effekte */
.card[data-rarity="ShineBlitz"] .card__shine,
.card[data-rarity="ShineBlitz"] .card__shine:after {
background-image: none;
filter: none;
background-blend-mode: normal;
}

/* ShineBlitz bei Hover - der Effekt wird sichtbar */
.card[data-rarity="ShineBlitz"]:hover .card__shine,
.card[data-rarity="ShineBlitz"]:hover .card__shine:after {
--space: 5%;
--angle: 133deg;
--imgsize: 25% 20%;

background-image:
  var(--trainerbg),
  repeating-linear-gradient( 0deg, 
    rgb(255, 119, 115) calc(var(--space)*1), 
    rgba(255,237,95,1) calc(var(--space)*2), 
    rgba(168,255,95,1) calc(var(--space)*3), 
    rgba(131,255,247,1) calc(var(--space)*4), 
    rgba(120,148,255,1) calc(var(--space)*5), 
    rgb(216, 117, 255) calc(var(--space)*6), 
    rgb(255, 119, 115) calc(var(--space)*7)
  ),
  repeating-linear-gradient( 
    var(--angle), 
    #0e152e 0%, 
    hsl(180, 10%, 60%) 3.8%, 
    hsl(180, 29%, 66%) 4.5%, 
    hsl(180, 10%, 60%) 5.2%, 
    #0e152e 10% , 
    #0e152e 12% 
  ),
  radial-gradient(
    farthest-corner circle 
    at var(--mx) var(--my),
    rgba(0, 0, 0, .1) 12%, 
    rgba(0, 0, 0, .15) 20%, 
    rgba(0, 0, 0, .25) 120%
  );

background-blend-mode: difference, hue, hard-light;
background-size: var(--imgsize), 200% 700%, 300% 100%, 200% 100%;
background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);

filter: brightness(0.75) contrast(2.5) saturate(.75);
}

/* Weiterer Effekt mit Zusatz bei Hover */
.card[data-rarity="ShineBlitz"]:hover .card__shine:after {
content: "";
background-size: var(--imgsize), 200% 400%, 195% 100%, 200% 100%;
filter: brightness(1.2) contrast(1) saturate(1.75);
mix-blend-mode: exclusion;
}

/* Glare-Effekt bei Hover */
.card[data-rarity="ShineBlitz"]:hover .card__glare {
filter: brightness(0.9) contrast(1.75);

background: radial-gradient(
  farthest-corner circle 
  at var(--mx) var(--my),
  rgb(255, 255, 255) 0%,
  rgba(133, 137, 141, .33) 45%, 
  rgba(100, 100, 100, .65) 120%
);

opacity: calc(var(--o) * .66);
}


/* -------------------- rare rainbow ------------------------*/

/* Rare Rainbow im Normalzustand - unsichtbar, keine Effekte */
.card[data-rarity^="rare rainbow"] .card__shine,
.card[data-rarity^="rare rainbow"] .card__shine:after {
background-image: none;
filter: none;
background-blend-mode: normal;
}

/* Rare Rainbow bei Hover - der Effekt wird sichtbar */
.card[data-rarity^="rare rainbow"]:hover .card__shine,
.card[data-rarity^="rare rainbow"]:hover .card__shine:after {
--rainbowspace: 9%;
--overlayspace: 12%;
--angle: -20deg;
--angle2: 130deg;
--imgsize: 130% 180%;

background-image:
  var(--rainbow),
  repeating-linear-gradient( var(--angle), 
    rgb(253, 71, 65) calc(var(--rainbowspace)*1), 
    rgb(255, 243, 151) calc(var(--rainbowspace)*2), 
    rgb(95, 255, 180) calc(var(--rainbowspace)*3), 
    rgba(131,255,247,1) calc(var(--rainbowspace)*4), 
    rgb(75, 198, 255) calc(var(--rainbowspace)*5), 
    rgb(255, 73, 246) calc(var(--rainbowspace)*6), 
    rgb(255, 56, 49) calc(var(--rainbowspace)*7)
  ),
  repeating-linear-gradient( var(--angle2), 
    rgba(89, 46, 80, 0.5) calc(var(--overlayspace)*1), 
    hsl(263, 43%, 76%) calc(var(--overlayspace)*2), 
    rgb(223, 96, 202) calc(var(--overlayspace)*3), 
    hsl(180, 57%, 56%) calc(var(--overlayspace)*4), 
    rgba(14, 21, 46, 0.5) calc(var(--overlayspace)*5) , 
    rgba(14, 21, 46, 0.5) calc(var(--overlayspace)*6) 
  ),
  var(--illusion2);

background-size: 20% 15%, 500% 500%, 1000% 1000%, var(--imgsize);
background-position: center, calc( var(--posx) * 1.5 ) calc( var(--posy) * 1.5 ), calc( var(--posx) * 1.5 ) var(--posy), bottom left;
background-blend-mode: color-burn, soft-light, normal;

filter: brightness(calc((var(--hyp)*0.25) + 0.66)) contrast(2.2) saturate(.9);
}

/* Weiterer Effekt mit Zusatz bei Hover */
.card[data-rarity^="rare rainbow"]:hover .card__shine:after {
content: "";
background-position: center, 0% calc( var(--posy) * -1.75 ), calc( var(--posx) * -1.75 ) calc( var(--posy) * -1 ) , bottom left;
mix-blend-mode: exclusion;
}


/* -------------------- rare secret ------------------------*/
  
  .card[data-rarity="rare secret"] .card__shine,
  .card[data-rarity="rare secret"] .card__shine:after {
  
    --angle: 110deg;
    --imgsize: 28% 23%;
  
    background-image:
      var(--glitter),
      repeating-linear-gradient( var(--angle), 
        rgba(89, 46, 80, 0.5) 0%, 
        hsl(39, 37%, 60%) 2.5%, 
        rgb(216, 183, 92) 5%, 
        hsl(39, 37%, 60%) 7.5%, 
        rgba(14, 21, 46, 0.5) 10% , 
        rgba(14, 21, 46, 0.5) 15% 
      ), 
      var(--metal);
  
    background-size: 25% 25%, 600% 100%, var(--imgsize);
    background-position: center, var(--posx) var(--posy), center;
    background-blend-mode: color-burn, darken;
  
    filter: brightness(calc((var(--hyp)*0.4) + 0.7)) contrast(3) saturate(.66);
  
  
  }
  
  .card[data-rarity="rare secret"] .card__shine:after {
  
    content: "";
  
    background-image:
      var(--glitter),
      repeating-linear-gradient( var(--angle), 
        rgba(89, 46, 80, 0.5) 0%, 
        hsl(39, 37%, 60%) 2.5%, 
        rgb(216, 183, 92) 5%, 
        hsl(39, 37%, 60%) 7.5%, 
        rgba(14, 21, 46, 0.5) 10% , 
        rgba(14, 21, 46, 0.5) 15% 
      );
  
    background-position: center, calc( var(--posx) * -1 ) calc( var(--posy) * -1 ), center;
  
    filter: brightness(calc((var(--hyp)*0.3) + 0.7)) contrast(2.5) saturate(.66);
    mix-blend-mode: exclusion;
  
  }


  /* -------------------- Radiant ------------------------*/

/* Standardzustand - Karte ohne den Radiant-Effekt */
.card[data-rarity*="radiant"] .card__shine {
/* Standard Hintergründe (keine Strahleneffekte) */
background-image: none;
filter: none;
mix-blend-mode: normal;
}

/* Wenn man über die Karte hovert, wird der Radiant-Effekt sichtbar */
.card[data-rarity*="radiant"]:hover .card__shine {
--barwidth: 1.2%;
--space: 200px;

background-image: 
  repeating-linear-gradient( 0deg, 
    hsl(180, 70%, 50%) calc(var(--space)*1), 
    hsl(110, 80%, 50%) calc(var(--space)*2), 
    hsl(80, 90%, 50%) calc(var(--space)*3), 
    hsl(50, 90%, 50%) calc(var(--space)*4), 
    hsl(80, 90%, 50%) calc(var(--space)*5), 
    hsl(110, 80%, 50%) calc(var(--space)*6), 
    hsl(180, 70%, 50%) calc(var(--space)*7) 
  ),
  repeating-linear-gradient( 
    45deg, 
    hsl(0,0%,10%) 0% ,  
    hsl(0,0%,10%) 1% , 
    hsl(0,0%,10%) var(--barwidth),
    hsl(0,0%,20%) calc( var(--barwidth) + 0.01% ) ,
    hsl(0,0%,20%) calc( var(--barwidth) * 2 ),
    hsl(0,0%,35%) calc( var(--barwidth) * 2 + 0.01% ) ,
    hsl(0,0%,35%) calc( var(--barwidth) * 3 ) ,
    hsl(0,0%,42.5%) calc( var(--barwidth) * 3 + 0.01% ) ,
    hsl(0,0%,42.5%) calc( var(--barwidth) * 4 ) ,
    hsl(0,0%,50%) calc( var(--barwidth) * 4 + 0.01% ) ,
    hsl(0,0%,50%) calc( var(--barwidth) * 5 ) ,
    hsl(0,0%,42.5%) calc( var(--barwidth) * 5 + 0.01% ) ,
    hsl(0,0%,42.5%) calc( var(--barwidth) * 6 ) ,
    hsl(0,0%,35%) calc( var(--barwidth) * 6 + 0.01% ) ,
    hsl(0,0%,35%) calc( var(--barwidth) * 7 ) ,
    hsl(0,0%,20%) calc( var(--barwidth) * 7 + 0.01% ) ,
    hsl(0,0%,20%) calc( var(--barwidth) * 8 )  ,
    hsl(0,0%,10%) calc( var(--barwidth) * 8 + 0.01% ) ,
    hsl(0,0%,10%) calc( var(--barwidth) * 9 )  ,
    hsl(0,0%,0%) calc( var(--barwidth) * 9 + 0.01% ) ,
    hsl(0,0%,0%) calc( var(--barwidth) * 10 ) 
  ),
  repeating-linear-gradient( 
    -45deg, 
    hsl(0,0%,10%) 0% ,  
    hsl(0,0%,10%) 1% , 
    hsl(0,0%,10%) var(--barwidth),
    hsl(0,0%,20%) calc( var(--barwidth) + 0.01% ) ,
    hsl(0,0%,20%) calc( var(--barwidth) * 2 ),
    hsl(0,0%,35%) calc( var(--barwidth) * 2 + 0.01% ) ,
    hsl(0,0%,35%) calc( var(--barwidth) * 3 ) ,
    hsl(0,0%,42.5%) calc( var(--barwidth) * 3 + 0.01% ) ,
    hsl(0,0%,42.5%) calc( var(--barwidth) * 4 ) ,
    hsl(0,0%,50%) calc( var(--barwidth) * 4 + 0.01% ) ,
    hsl(0,0%,50%) calc( var(--barwidth) * 5 ) ,
    hsl(0,0%,42.5%) calc( var(--barwidth) * 5 + 0.01% ) ,
    hsl(0,0%,42.5%) calc( var(--barwidth) * 6 ) ,
    hsl(0,0%,35%) calc( var(--barwidth) * 6 + 0.01% ) ,
    hsl(0,0%,35%) calc( var(--barwidth) * 7 ) ,
    hsl(0,0%,20%) calc( var(--barwidth) * 7 + 0.01% ) ,
    hsl(0,0%,20%) calc( var(--barwidth) * 8 )  ,
    hsl(0,0%,10%) calc( var(--barwidth) * 8 + 0.01% ) ,
    hsl(0,0%,10%) calc( var(--barwidth) * 9 )  ,
    hsl(0,0%,0%) calc( var(--barwidth) * 9 + 0.01% ) ,
    hsl(0,0%,0%) calc( var(--barwidth) * 10 ) 
  );
background-size: 400% 400%, 210% 210%, 210% 210%;
background-position: 
  calc( ((var(--posx) - 50%) * -2.5) + 50% ) calc( ((var(--posy) - 50%) * -2.5) + 50% ), 
  calc( ((var(--posx) - 50%) * 1.5) + 50% ) calc( ((var(--posy) - 50%) * 1.5) + 50% ), 
  calc( ((var(--posx) - 50%) * 1.5) + 50% ) calc( ((var(--posy) - 50%) * 1.5) + 50% );

background-blend-mode: exclusion, darken, color-dodge;

filter: brightness(.95) contrast(4) saturate(0.75);
mix-blend-mode: color-dodge;
}

/* Glitter-Effekt bei Hover */
.card[data-rarity*="radiant"]:hover .card__shine:after {
content: "";
background-image: 
  var(--glitter), 
  repeating-linear-gradient( 55deg, 
    rgb(255, 161, 158) calc(var(--space)*1), 
    rgb(85, 178, 255) calc(var(--space)*2), 
    rgb(255, 199, 146) calc(var(--space)*3), 
    rgb(130, 255, 213) calc(var(--space)*4), 
    rgb(253, 170, 240) calc(var(--space)*5), 
    rgb(148, 241, 255) calc(var(--space)*6), 
    rgb(255, 161, 158) calc(var(--space)*7) 
  );
background-size: 25% 25%, 400% 100%;
background-position: center, calc( ((var(--posx) - 50%) * -2.5) + 50% ) calc( ((var(--posy) - 50%) * -2.5) + 50% );

filter: brightness(1) contrast(1) saturate(0);
mix-blend-mode: soft-light;

background-blend-mode: multiply;
}

/* Halo und Glare bei Hover */
.card[data-rarity*="radiant"]:hover .card__shine:before {
content: "";
z-index: 7;
grid-area: 1/1;
background-image:
  radial-gradient(
    farthest-corner ellipse 
    at calc( ((var(--mx)) * 0.5) + 25% ) calc( ((var(--my)) * 0.5) + 25% ),
    rgba(100, 100, 100, .5) 5%, 
    rgba(50, 50, 50, .4) 15%, 
    rgba(0, 0, 0, .6) 30%
  );

background-image:
  radial-gradient( farthest-corner ellipse at calc( ((var(--mx)) * 0.5) + 25% ) calc( ((var(--my)) * 0.5) + 25% ), rgba(100, 100, 100, .8) 10%, rgba(50, 50, 50, .34) 20%, rgba(0, 0, 0, 1) 50% );

background-position: center;
background-size: 350% 350%;

mix-blend-mode: multiply;
}

/* Glare bei Hover */
.card[data-rarity="radiant"]:hover .card__glare {
background-image: radial-gradient(farthest-corner circle at var(--mx) var(--my),
    rgba(255, 255, 255, .9) 10%, rgba(255, 255, 255, .6) 30%, rgba(0, 0, 0, .8) 80%);
}


/* -------------------- rare holo ------------------------*/

  .card[data-rarity="rare holo"][data-gallery="true"] .card__shine {
  
    --space: 5%;
    --angle: -22deg;
    --imgsize: 200% 400%;
  
    clip-path: inset(2.8% 4% round 2.55% / 1.5%);
  
    background-image:
      repeating-linear-gradient( var(--angle),  
        rgba(174, 102, 202, 0.75) calc(var(--space)*1),
        rgba(228, 77, 72, 0.75) calc(var(--space)*2), 
        rgba(216, 197, 55, 0.75) calc(var(--space)*3),  
        rgba(124, 201, 62, 0.75) calc(var(--space)*4),  
        rgba(80, 177, 170, 0.75) calc(var(--space)*5),  
        rgba(136, 160, 255, 0.75) calc(var(--space)*6), 
        rgba(176, 105, 204, 0.75) calc(var(--space)*7)
      );
      
      background-blend-mode: color-dodge;
      background-size: var(--imgsize);
      background-position: 0% calc(var(--posy) * 1), var(--posx) var(--posy);
      
      filter: brightness(calc((var(--hyp)*0.3) + 0.6)) contrast(2.3) saturate(1.1);
  
  }
  
  .card[data-rarity="rare holo"][data-gallery="true"] .card__shine:after {
    
    content: "";
  
    background-image: 
      radial-gradient( 
        farthest-corner ellipse 
        at calc( ((var(--mx)) * 0.5) + 25% ) calc( ((var(--my)) * 0.5) + 25% ), 
        rgb(255, 255, 255) 5%, 
        rgba(55, 0, 55, .6) 25%, 
        rgb(55, 55, 55) 90% 
      );
  
    background-position: center;
    background-size: 200% 200%;
  
    filter: brightness(calc((var(--hyp)*0.2) + 0.4)) contrast(.85) saturate(1.1);
    mix-blend-mode: hard-light;
  
  }