/* guestbook.css */

/* Container für das Guestbook */
.container {
    padding: 2rem;
    padding-top: 120px;
    width: 60%;
    z-index: 1;
  }
  

  
/* Stile für die Überschrift */
.guestbook-title {
    font-size: 65px; 
    font-weight: bold; 
    color: var(--light-mode); 
    margin-bottom: 1rem;
    text-align: center;
  }
  
  /* Stile für den Text */
  .guestbook-description {
	font-size: 24px;
    color: var(--light-mode); 
	margin-bottom: 1.5rem;
	text-align: center;
}


/* Stile für die Überschrift */
.dark-mode .guestbook-title {
    color: var(--dark-mode); 
  }
  
  /* Stile für den Text */
  .dark-mode .guestbook-description {
    color: var(--dark-mode);
}
